/*
SHELVES
-------

The only responsive, fluid CSS grid with infinitely nestable columns.

Copyright (c) 2012, Pete Browne
*/
@media screen and (max-width: 400px) { @-ms-viewport { width: 320px; } }
img { max-width: 100%; height: auto; }
@media \0screen { img { width: auto; } }

.row { *zoom: 1; margin-right: auto; margin-left: auto; }
.row:before, .row:after { display: table; content: " "; }
.row:after { clear: both; }
.row .row { margin-right: 0; margin-left: 0; max-width: none; padding-right: 0; padding-left: 0; }

.mobile-column-1, .mobile-column-2, .mobile-column-3 { display: block; float: left; min-height: 1px; position: relative; *margin-right: -1px; margin-left: 1.79245%; }

.row .mobile-column-1:first-child, .row .mobile-column-2:first-child, .row .mobile-column-3:first-child, .first-mobile-column { margin-left: 0; }

.mobile-column-1 { width: 23.65566%; }

.mobile-column-2 { width: 49.10377%; }

.mobile-column-3 { width: 74.55189%; }

@media screen and (min-width: 480px) { .tablet-column-1, .tablet-column-2, .tablet-column-3, .tablet-column-4, .tablet-column-5 { display: block; float: left; min-height: 1px; position: relative; *margin-right: -1px; margin-left: 1.13208%; }
  .row .tablet-column-1:first-child, .row .tablet-column-2:first-child, .row .tablet-column-3:first-child, .row .tablet-column-4:first-child, .row .tablet-column-5:first-child, .first-tablet-column { margin-left: 0; }
  .tablet-column-1 { width: 15.72327%; }
  .tablet-column-2 { width: 32.57862%; }
  .tablet-column-3 { width: 49.43396%; }
  .tablet-column-4 { width: 66.28931%; }
  .tablet-column-5 { width: 83.14465%; } }
@media screen and (min-width: 800px) { .column-1, .column-2, .column-3, .column-4, .column-5, .column-6, .column-7, .column-8, .column-9, .column-10, .column-11 { display: block; float: left; min-height: 1px; position: relative; *margin-right: -1px; margin-left: 0.75472%; }
  .row .column-1:first-child, .row .column-2:first-child, .row .column-3:first-child, .row .column-4:first-child, .row .column-5:first-child, .row .column-6:first-child, .row .column-7:first-child, .row .column-8:first-child, .row .column-9:first-child, .row .column-10:first-child, .row .column-11:first-child, .first-column { margin-left: 0; }
  .column-1 { width: 7.64151%; }
  .column-2 { width: 16.03774%; }
  .column-3 { width: 24.43396%; }
  .column-4 { width: 32.83019%; }
  .column-5 { width: 41.22642%; }
  .column-6 { width: 49.62264%; }
  .column-7 { width: 58.01887%; }
  .column-8 { width: 66.41509%; }
  .column-9 { width: 74.81132%; }
  .column-10 { width: 83.20755%; }
  .column-11 { width: 91.60377%; }
  .prefix-1 { padding-left: 8.39623%; }
  .prefix-2 { padding-left: 16.79245%; }
  .prefix-3 { padding-left: 25.18868%; }
  .prefix-4 { padding-left: 33.58491%; }
  .prefix-5 { padding-left: 41.98113%; }
  .prefix-6 { padding-left: 50.37736%; }
  .prefix-7 { padding-left: 58.77358%; }
  .prefix-8 { padding-left: 67.16981%; }
  .prefix-9 { padding-left: 75.56604%; }
  .prefix-10 { padding-left: 83.96226%; }
  .prefix-11 { padding-left: 92.35849%; }
  .suffix-1 { padding-right: 8.39623%; }
  .suffix-2 { padding-right: 16.79245%; }
  .suffix-3 { padding-right: 25.18868%; }
  .suffix-4 { padding-right: 33.58491%; }
  .suffix-5 { padding-right: 41.98113%; }
  .suffix-6 { padding-right: 50.37736%; }
  .suffix-7 { padding-right: 58.77358%; }
  .suffix-8 { padding-right: 67.16981%; }
  .suffix-9 { padding-right: 75.56604%; }
  .suffix-10 { padding-right: 83.96226%; }
  .suffix-11 { padding-right: 92.35849%; }
  .push-1 { left: 8.39623%; }
  .push-2 { left: 16.79245%; }
  .push-3 { left: 25.18868%; }
  .push-4 { left: 33.58491%; }
  .push-5 { left: 41.98113%; }
  .push-6 { left: 50.37736%; }
  .push-7 { left: 58.77358%; }
  .push-8 { left: 67.16981%; }
  .push-9 { left: 75.56604%; }
  .push-10 { left: 83.96226%; }
  .push-11 { left: 92.35849%; }
  .pull-1 { right: 8.39623%; }
  .pull-2 { right: 16.79245%; }
  .pull-3 { right: 25.18868%; }
  .pull-4 { right: 33.58491%; }
  .pull-5 { right: 41.98113%; }
  .pull-6 { right: 50.37736%; }
  .pull-7 { right: 58.77358%; }
  .pull-8 { right: 67.16981%; }
  .pull-9 { right: 75.56604%; }
  .pull-10 { right: 83.96226%; }
  .pull-11 { right: 92.35849%; }
  .column-11 .column-1, .column-11 .column-2, .column-11 .column-3, .column-11 .column-4, .column-11 .column-5, .column-11 .column-6, .column-11 .column-7, .column-11 .column-8, .column-11 .column-9, .column-11 .column-10 { margin-left: 0.82389%; }
  .column-11 .column-1 { width: 8.34192%; }
  .column-11 .column-2 { width: 17.50772%; }
  .column-11 .column-3 { width: 26.67353%; }
  .column-11 .column-4 { width: 35.83934%; }
  .column-11 .column-5 { width: 45.00515%; }
  .column-11 .column-6 { width: 54.17096%; }
  .column-11 .column-7 { width: 63.33677%; }
  .column-11 .column-8 { width: 72.50257%; }
  .column-11 .column-9 { width: 81.66838%; }
  .column-11 .column-10 { width: 90.83419%; }
  .column-10 .column-1, .column-10 .column-2, .column-10 .column-3, .column-10 .column-4, .column-10 .column-5, .column-10 .column-6, .column-10 .column-7, .column-10 .column-8, .column-10 .column-9 { margin-left: 0.90703%; }
  .column-10 .column-1 { width: 9.18367%; }
  .column-10 .column-2 { width: 19.27438%; }
  .column-10 .column-3 { width: 29.36508%; }
  .column-10 .column-4 { width: 39.45578%; }
  .column-10 .column-5 { width: 49.54649%; }
  .column-10 .column-6 { width: 59.63719%; }
  .column-10 .column-7 { width: 69.72789%; }
  .column-10 .column-8 { width: 79.81859%; }
  .column-10 .column-9 { width: 89.9093%; }
  .column-9 .column-1, .column-9 .column-2, .column-9 .column-3, .column-9 .column-4, .column-9 .column-5, .column-9 .column-6, .column-9 .column-7, .column-9 .column-8 { margin-left: 1.00883%; }
  .column-9 .column-1 { width: 10.21438%; }
  .column-9 .column-2 { width: 21.43758%; }
  .column-9 .column-3 { width: 32.66078%; }
  .column-9 .column-4 { width: 43.88398%; }
  .column-9 .column-5 { width: 55.10719%; }
  .column-9 .column-6 { width: 66.33039%; }
  .column-9 .column-7 { width: 77.55359%; }
  .column-9 .column-8 { width: 88.7768%; }
  .column-8 .column-1, .column-8 .column-2, .column-8 .column-3, .column-8 .column-4, .column-8 .column-5, .column-8 .column-6, .column-8 .column-7 { margin-left: 1.13636%; }
  .column-8 .column-1 { width: 11.50568%; }
  .column-8 .column-2 { width: 24.14773%; }
  .column-8 .column-3 { width: 36.78977%; }
  .column-8 .column-4 { width: 49.43182%; }
  .column-8 .column-5 { width: 62.07386%; }
  .column-8 .column-6 { width: 74.71591%; }
  .column-8 .column-7 { width: 87.35795%; }
  .column-7 .column-1, .column-7 .column-2, .column-7 .column-3, .column-7 .column-4, .column-7 .column-5, .column-7 .column-6 { margin-left: 1.30081%; }
  .column-7 .column-1 { width: 13.17073%; }
  .column-7 .column-2 { width: 27.64228%; }
  .column-7 .column-3 { width: 42.11382%; }
  .column-7 .column-4 { width: 56.58537%; }
  .column-7 .column-5 { width: 71.05691%; }
  .column-7 .column-6 { width: 85.52846%; }
  .column-6 .column-1, .column-6 .column-2, .column-6 .column-3, .column-6 .column-4, .column-6 .column-5 { margin-left: 1.52091%; }
  .column-6 .column-1 { width: 15.39924%; }
  .column-6 .column-2 { width: 32.31939%; }
  .column-6 .column-3 { width: 49.23954%; }
  .column-6 .column-4 { width: 66.1597%; }
  .column-6 .column-5 { width: 83.07985%; }
  .column-5 .column-1, .column-5 .column-2, .column-5 .column-3, .column-5 .column-4 { margin-left: 1.83066%; }
  .column-5 .column-1 { width: 18.53547%; }
  .column-5 .column-2 { width: 38.9016%; }
  .column-5 .column-3 { width: 59.26773%; }
  .column-5 .column-4 { width: 79.63387%; }
  .column-4 .column-1, .column-4 .column-2, .column-4 .column-3 { margin-left: 2.29885%; }
  .column-4 .column-1 { width: 23.27586%; }
  .column-4 .column-2 { width: 48.85057%; }
  .column-4 .column-3 { width: 74.42529%; }
  .column-3 .column-1, .column-3 .column-2 { margin-left: 3.0888%; }
  .column-3 .column-1 { width: 31.27413%; }
  .column-3 .column-2 { width: 65.63707%; }
  .column-2 .column-1 { margin-left: 4.70588%; }
  .column-2 .column-1 { width: 47.64706%; } }
.row .center-column { float: none; margin-left: auto !important; margin-right: auto; }

@media screen and (max-width: 479px) { .hidden-mobile, .visible-tablet, .visible-desktop { display: none !important; } }
@media screen and (min-width: 480px) and (max-width: 799px) { .visible-mobile, .hidden-tablet, .visible-desktop { display: none !important; } }
@media screen and (min-width: 800px) { .visible-mobile, .visible-tablet, .hidden-desktop { display: none !important; } }
