/* BASE STYLING
 * use naming conventions from bootstrap where reasonable
 */


html {
    /* our base size */
    font-size: 16px;
}

/** { box-sizing: border-box;} */

body {
    line-height: 1.5;
    color: #444;
    margin: auto;
/*    font-family: 'Source Sans Pro', sans-serif; */
}

pre {
/*     font-family: 'Inconsolata'; */
}


h1,h2,h3,h4,h5,h6 {
    color: #222;
    margin: 0.5rem 0;
}

h1 { font-size:244%;}
h2 { font-size:195%;}
h3 { font-size:156%;}
h4 { font-size:125%;}
h5 {font-size:100%; }
h6 {font-size:80%; }

small, .small { font-size: 75%; }

/* secondary headings */
h1 small, h1 .small,
h2 small, h2 .small,
h3 small, h3 .small,
h4 small, h4 .small,
h5 small, h5 .small,
h6 small, h6 .small {
    color: #888;
    font-weight: normal;
}

p {
    margin-bottom: 0.75rem;
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    margin: 0;
    padding: 0;
}



/* forms */

label {
    font-weight: bold;
    /*display: block; */
}

.checkbox label {
  display: inline-block;
  font-weight: normal;
}

input[type="checkbox"] {
    margin-left: 0;
}


input,textarea {
    padding: 0.4em;
}

input,select { }


/* form errors */
.has-error input,
.has-error select,
.has-error textarea {
  border-color: #b94a48;
}

.has-error label,
.has-error .help-block {
  color: #b94a48;
}

/* form misc */

.form-group {
    display: block;
    margin-bottom: 0.5em;
}

.form-control {
    width: 100%;
}

.help-block {
    display: block;
    color: #888;
    margin-top: 0.2em;
    margin-bottom: 0.4em;
}


.inline-form input,select {}


/* alerts */

.alert {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-danger {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-warning {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #faebcc;
}


/* buttons */

.btn {
  display: inline-block;
  padding: 0.2em 0.5em;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-default {
  background-color: transparent;
  border: 1px solid #888;
}

/* END BASE STYLING */

/****************
 * site-specific
 */

html {
    height: 100%;
}

body {
    margin: 1em;
    margin-top: 0em;
	font-family: verdana,arial,sans-serif;
    color: #444;
    background-color: #eee;
}


/* infobox is the frame for holding charts etc... */
.infobox {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    display: block;
   /* height: 17em; */
    box-sizing: border-box;
    width: 100%;
    /*background-color: #ccf; */
    padding: 0.2rem;
    /*border: 1px solid #ccc; */
    background-color: #fff;
}

.infobox canvas {
    display: block;
    height: 10em;
}

.infosummary {
/*    background-color: #ddd;
    */
    /*border: 1px solid #ccc; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.infosummary img {
    vertical-align: middle;
}


.chart {
}


/* the summary box (beside map) */
.heartbeat {
    /* border: 1px solid #ccc; */
    padding: 0.4rem;
    display: block;
    background-color: #fff;
}

.heartbeat header img {
 display: inline-block;
    vertical-align: middle;
}

.satisfaction {
    padding-left: 0.5em;
 color: green;
 font-size: 150%;
 display: inline-block;
}

.box {
    -moz-column-count: 2;
-webkit-column-count: 2;
column-count: 2;
}

.foo {
    padding: 0 1em 0 1em;
}

.foo img {
    width: 35px;
    height: 35px;
    margin-right: 8px;
    display: inline-block;
}

.foo .maj {
    vertical-align: top;
    font-size: 105%;
    display: inline-block;
}

.foo small {
    font-size: 50%;
    display: block;
}

.events {
    margin-top: 0.4rem;
    background-color: #fff;
    padding: 0rem 0.2rem;
}

.webcam {
    margin-top: 0.4rem;
    background-color: #fff;
}
.disclaimer {
    font-size: 50%;
    color: #888;
    margin: 0.4rem;
}

.bite {
    margin-top: 0.4rem;
    background-color: #fff;
    padding: 0.4rem 0.2rem;
    line-height: 0.8rem;
}
.bite div {
    margin: 0;
    font-size: 1rem;
    color: #000;
    margin-bottom: 0.2rem;
    line-height: 1rem;
}

.bite small {
    font-size: 0.6rem;
    color: #444;
}

.data-desc {
    margin-top: 0.5rem;
    font-size: 0.7rem;
    padding: 0.5rem;
    background-color: #fff;
}

.data-desc p {
    margin: 0;
}

/* the map */
.sensormap {
   background-color: #eee;
   height: 20rem;
}


#clock {
    padding: 0.5rem;
    font-size: 1.1rem;
    color: #888;
    font-weight: bold;
    text-align: right;
}

/*
.box h3{
    text-align:center;
    position:relative;
}
.box {
    display: block;
    width:30%;
    background:#FFF;
    margin:0px auto;
}
*/

/*
Increasing/decreasing
*/
div.stat_improving {
  color:green;
}
div.stat_deteriorating {
  color:red;
}


@keyframes heartbeat
{
  0%
  {
    transform: scale( .85 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .85 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( 1 );
  }
}

div.heart
{
  color: red;
  display: inline-block;
  animation: heartbeat 1.5s infinite;
  transform-origin: 50% 50% 0;
}
